## Laboratorium 6
Dawid Stachowiak & Wiktor Kurek

In [1]:
import numpy as np
import pandas as pd

### Zadanie 1

In [2]:
data = pd.read_excel('data/zakupy.xlsx')

In [3]:
data

    Bread  Milk  DIapers  Beer  Eggs  Cola
0     1.0   1.0      NaN   NaN   NaN   NaN
1     1.0   NaN      1.0   1.0   1.0   NaN
2     NaN   1.0      1.0   1.0   NaN   1.0
3     1.0   1.0      1.0   1.0   NaN   NaN
4     1.0   1.0      1.0   NaN   NaN   1.0
5     1.0   NaN      NaN   1.0   NaN   1.0
6     1.0   1.0      NaN   NaN   1.0   NaN
7     1.0   1.0      NaN   NaN   NaN   NaN
8     1.0   NaN      NaN   NaN   1.0   NaN
9     NaN   NaN      1.0   1.0   NaN   1.0
10    NaN   1.0      1.0   1.0   NaN   1.0
11    1.0   1.0      1.0   1.0   1.0   1.0

In [93]:
data = data.fillna(0)
data = data.convert_dtypes()
columns = list(data.head(0))
arr = data.values
columns[2]

str

### Zadanie 2

In [102]:
from efficient_apriori import apriori

transactions = []
temp = []
for index, x in enumerate(arr.ravel()):
    row = int(index/6)
    col = int(index%6)
    if arr[row][col] == 1:
        temp.append(columns[col])
    if index > 0 and col==0:
        transactions.append(tuple(temp))
        temp = []
    

itemsets, rules = apriori(transactions, min_support=0.3, min_confidence=1)
print(rules)

[{Milk} -> {Bread}, {DIapers, Milk} -> {Bread}, {Bread, DIapers} -> {Milk}]

In [104]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     Beer  Bread   Cola  DIapers   Eggs   Milk
0   False   True  False    False  False   True
1    True  False  False     True   True  False
2    True   True   True     True  False   True
3    True   True  False     True  False   True
4   False   True   True     True  False   True
5    True   True   True    False  False  False
6   False   True  False    False   True   True
7   False   True  False    False  False   True
8   False  False  False    False   True  False
9    True  False   True     True  False  False
10   True   True   True     True  False   True

In [107]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.3, use_colnames=True)

     support                itemsets
0   0.727273                 (Bread)
1   0.636364                  (Milk)
2   0.545455               (DIapers)
3   0.545455                  (Beer)
4   0.454545                  (Cola)
5   0.636364           (Bread, Milk)
6   0.363636         (Milk, DIapers)
7   0.363636        (Bread, DIapers)
8   0.363636  (Milk, Bread, DIapers)
9   0.454545         (Beer, DIapers)
10  0.363636           (Beer, Bread)
11  0.363636            (Beer, Cola)
12  0.363636         (DIapers, Cola)
13  0.363636           (Bread, Cola)

### Zadanie 3

### Zadanie 4

In [110]:
from pyECLAT import ECLAT
eclat_instance = ECLAT(data=pd.DataFrame(transactions), verbose=True)

100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 439.42it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 7020.59it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 3456.17it/s]

In [111]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(min_support=0.3,
                                                           min_combination=1,
                                                           max_combination=3,
                                                           separator=' & ',
                                                           verbose=True)

5it [00:00, 51.68it/s]
10it [00:00, 196.48it/s]
10it [00:00, 250.67it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

In [113]:
get_ECLAT_supports

{'Beer': 0.5454545454545454,
 'Cola': 0.45454545454545453,
 'DIapers': 0.5454545454545454,
 'Milk': 0.6363636363636364,
 'Bread': 0.7272727272727273,
 'Beer & Cola': 0.36363636363636365,
 'Beer & DIapers': 0.45454545454545453,
 'Beer & Bread': 0.36363636363636365,
 'Cola & DIapers': 0.36363636363636365,
 'Cola & Bread': 0.36363636363636365,
 'DIapers & Milk': 0.36363636363636365,
 'DIapers & Bread': 0.36363636363636365,
 'Milk & Bread': 0.6363636363636364,
 'DIapers & Milk & Bread': 0.36363636363636365}